@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pagebg: #f8f9fa;
  --primary: #275df5;
  --secondary: #f05537;
  --accent: #F8FAFD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--pagebg);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Scrollbar hide */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* NProgress */
#nprogress { pointer-events: none; }
#nprogress .bar {
  background: #f05537 !important;
  position: fixed;
  z-index: 9999;
  top: 0; left: 0;
  width: 100%; height: 5px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px; height: 100%;
  box-shadow: 0 0 10px #f05537, 0 0 5px #f05537 !important;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Swiper */
.swiper { width: 100%; padding: 10px 0; }
